* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
  }

  .page-container{
    display: flex;
    flex-direction: row;
  }
  .cart_div {
    width: 100%;
    height: 663px;
    background: rgba(160,230,92,0.3799999952316284);
    opacity: 1;
    position: absolute;
    top: 182px;
    left: 24px;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .cart_label {
    width: 466px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 230px;
    left: 89px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .food_label {
    width: 101px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 344px;
    left: 204px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .price_label {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 350px;
    left: 910px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .total_div {
    width: 377px;
    height: 663px;
    background: rgba(255,127,64,0.3799999952316284);
    opacity: 1;
    position: absolute;
    top: 182px;
    left: 1077px;
    border-top-left-radius: 62px;
    border-top-right-radius: 62px;
    border-bottom-left-radius: 62px;
    border-bottom-right-radius: 62px;
    overflow: hidden;
  }
  .food_total {
    width: 308px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 388px;
    left: 1129px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .tax_label {
    width: 308px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 512px;
    left: 1129px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .total_label {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 652px;
    left: 1317px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .checkout {
    width: 336px;
    height: 76px;
    background: url("../images/v27_1505.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 878px;
    left: 1110px;
    overflow: hidden;
  }
  .checkout_btn {
    width: 336px;
    height: 74px;
    background: rgba(198,140,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    width: 223px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 16px;
    left: 68px;
    font-family: Work Sans;
    font-weight: Bold;
    font-size: 34px;
    opacity: 1;
    text-align: center;
  }
  