
body {
  font-size: 14px;
}
.tab { 
  /* Navbar */
  position: absolute;
  width: 100%;
  height: 118px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#shop-logo{
  height: 100px;
  padding-left: 2 0px;
}

.tablinks {
  position: right; 
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  f/chris
  border: 1px solid #fff
}

div#Client.tabcontent {
  background-color:#f3ac26a8;
  border-radius: 25px;
  font-size: 2em;
  font-family: 'LouisGeorge';
}

div#Client.tabcontent button {
  border: none;
  font-size: 20px;
  font-family: 'LemonMilk';
  border-radius: 2px;
}

div#Client.tabcontent button:hover {
  cursor: pointer;
}

div#Cart.tabcontent {
  background-color: #500c50a3;
  border-radius: 25px;
  font-size: 2em;
  font-family: 'LouisGeorge';
}

/*Clients style*/
.main {
  width: 100%;
  height: 982px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.pic_background {
  width: 486px;
  height: 582px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 74px;
  border-top-left-radius: 62px;
  border-top-right-radius: 62px;
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 62px;
  overflow: hidden;
}
.profile_pic {
  width: 374px;
  height: 450px;
  background: url("../images/profile_pic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 130px;
  overflow: hidden;
}
.title {
  width: 721px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 180px;
  left: 641px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.gluten {
  width: 475px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 351px;
  left: 735px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.dairy {
  width: 324px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 735px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.veg {
  width: 390px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 514px;
  left: 734px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.organic {
  width: 475px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 600px;
  left: 735px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.none {
  width: 702px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 684px;
  left: 735px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.options {
  width: 52px;
  height: 385px;
  background: url("../images/v27_1455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 353px;
  left: 641px;
  overflow: hidden;
}

/*Check boxes
Partially from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

/*Check gluten free*/
.glutenfree {
  width: 52px;
  height: 57px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.glutenfree input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  background-color: rgba(255,127,64,1);
  opacity: 1;
}

.glutenfree:hover input ~ .checkmark {
  background-color: #ccc;
}

.glutenfree input:checked ~ .checkmark {
  background-color: rgba(255,127,64,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.glutenfree input:checked ~ .checkmark:after {
  display: block;
}

.glutenfree .checkmark:after {
  left: 14px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Check dairy free*/
.dairyfree {
  width: 52px;
  height: 57px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.dairyfree input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  background-color: rgba(255,127,64,1);
  opacity: 1;
}

.dairyfree:hover input ~ .checkmark {
  background-color: #ccc;
}

.dairyfree input:checked ~ .checkmark {
  background-color: rgba(255,127,64,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.dairyfree input:checked ~ .checkmark:after {
  display: block;
}

.dairyfree .checkmark:after {
  left: 14px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Check vegetarian only*/
.vegonly {
  width: 52px;
  height: 57px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.vegonly input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  background-color: rgba(255,127,64,1);
  opacity: 1;
}

.vegonly:hover input ~ .checkmark {
  background-color: #ccc;
}

.vegonly input:checked ~ .checkmark {
  background-color: rgba(255,127,64,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.vegonly input:checked ~ .checkmark:after {
  display: block;
}

.vegonly .checkmark:after {
  left: 14px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Check organic only*/
.orgonly {
  width: 52px;
  height: 57px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.orgonly input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  background-color: rgba(255,127,64,1);
  opacity: 1;
}

.orgonly:hover input ~ .checkmark {
  background-color: #ccc;
}

.orgonly input:checked ~ .checkmark {
  background-color: rgba(255,127,64,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.orgonly input:checked ~ .checkmark:after {
  display: block;
}

.orgonly .checkmark:after {
  left: 14px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Check none only*/
.norestric {
  width: 52px;
  height: 57px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.norestric input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 57px;
  background-color: rgba(255,127,64,1);
  opacity: 1;
}

.norestric:hover input ~ .checkmark {
  background-color: #ccc;
}

.norestric input:checked ~ .checkmark {
  background-color: rgba(255,127,64,1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.norestric input:checked ~ .checkmark:after {
  display: block;
}

.norestric .checkmark:after {
  left: 14px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*end check boxes*/

.submit {
  width: 336px;
  height: 74px;
  background: url("../images/profile_pic.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 636px;
  overflow: hidden;
}
.shop_btn {
  width: 336px;
  height: 74px;
  background: rgba(255,127,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
